.x-body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #fff;
}
.x-grid-item{
/*	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    padding:8px;
    line-height: 1.42857143;*/
}

.x-column-header{
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: bold !important; 
    font-size: 13px !important;*/
}
.x-grid-td{
    padding: 8px;
    line-height: 1.42857143;
}
.thumb{
    height:60%;
    text-align: center;
}

.thumb-wrap{
	display:inline-block;
	width:30%;
	min-width:330px;
	vertical-align:top;
    margin: 20px;    
    border: 1px solid #ddd;
    border-radius: 4px;
    line-height: 1.42857143;
    padding: 10px;
    text-align:left;
}

.detailsDiv{
    vertical-align: bottom; 
}

.showThumb{
    height:348px;
}

.hideThumb{
    height:200px;
}

.hideElement{
	display:none;
}

.showElement{
	display:block;
}

.containerDiv{
	text-align: left;
}

.btnCls{
	margin: 5px;
    color: #fff;
    background-color: #465a65;
    border-color: #3c4d56;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
}

.panelToolbar{
	color: #ffffff;
    background-color: #5e7e89;
    border-color: transparent;
    padding:10px;
}

.centerPanelCls{
	width:80%;
	/*margin-left:3%;
	margin-right:3%;*/
}